.container {
    display: flex;
    background: #101010;
    padding: 0 20.5px 0 20.5px;
    color: white;
    max-width: 400px;
    height: 568px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


/* AYRAÇ */
.divider {
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .divider {
        display: none;
    }

    .right {
        width: 100%;
    }
}