.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.floatingButton {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 20px 16px;
  }
}
