.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  transition: 0.2s;
}


.link.active {
  background: #4f46e5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

/* Ensure the icon fits properly inside */
.icon {
  width: 38px;
  height: 38px;
  fill: currentColor;
}

.navText {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1;
}

/* LINK (Inactive) */
.link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  color: rgba(251, 251, 251, 0.6);
  text-decoration: none;
  transition: all 0.3s ease;
}

.link .iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 6px;
}

/* ACTIVE LINK */
.activeLink {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fbfbfb;
  text-decoration: none;
}

.activeLink .iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4a28a0;
  border-radius: 10px;
  padding: 6px;
}

.activeLink .navText {
  font-weight: 700;
}

.link:hover {
  color: #fbfbfb;
}

.link:hover .iconWrap {
  background: #4a28a0;
}

/* MOBILE ONLY */
.mobileOnly {
  display: none;
}

.mobileCurrencyLink {
  display: flex;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .navText {
    display: flex;
  }

  .mobileOnly {
    display: none;
  }

  .mobileCurrencyLink {
    display: none;
  }
}

@media (min-width: 1280px) {
  .icon {
    width: 28px;
    height: 28px;
  }
}
