
.wrapper {
    width: 100%;
    
}

.tableHead {
    display: none;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        width: 100%;
        max-width: clamp(704px, 90vw, 1100px);
        margin: 0 auto;
    }
    
    .tableHead {
        display: grid;
        grid-template-columns:
        minmax(80px, 1fr) minmax(50px, 0.6fr) minmax(120px, 1.2fr) minmax(180px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr);
        align-items: center;
        min-height: 56px;
        padding: 0 1px;
        margin-bottom: 8px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        font-weight: 600;
        font-size: 18px;
        box-sizing: border-box;
        font-family: var(--font-main);
        color: var(--color-white);
        
    }

    .tableHead>span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .tableHead>span:nth-child(5),
    .tableHead>span:nth-child(6) {
        justify-content: center;
        text-align: right;
    }
    
        .list {
            width: 100%;
            gap: 0;
            align-items: stretch;
        }
}

@media (min-width: 1280px) {
    .wrapper {
        width: 715px;
        height: 308px;
        margin-right: 0;
        flex: 0 0 715px;
    }

    .tableHead {
        display: grid;
        grid-template-columns:
            90px 60px 120px minmax(170px, 1fr) 100px 100px;
        align-items: center;
        min-height: 56px;
        padding: 0 1px;
        margin-bottom: 8px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        font-weight: 600;
        font-size: 18px;
        box-sizing: border-box;
        font-family: var(--font-main);
        color: var(--color-white);
    }

    .tableHead>span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0;
    }

    .tableHead>span:nth-child(5),
    .tableHead>span:nth-child(6) {
        justify-content: center;
        text-align: right;
    }

    .list {
        width: 100%;
        height: calc(308px - 64px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}