.wrapper {
    display: flex;
    flex-direction: column;
}

.select {
    background-color: #4a56e21a;
    width: 280px;
    height: 50px;
    border: 1px solid #ffffff99;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    color: #fbfbfb;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.select:focus {
    border-color: rgba(255, 199, 39, 0.8);
}

.select option {
    background-color: #533dba;
    color: #fbfbfb;
    padding: 8px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        gap: 12px;
    }

    .select {
        width: 160px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        flex-direction: row;
        gap: 24px;
    }

    .select {
        width: 182px;
    }
}