.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  background-color: #4a56e21a;
  width: 280px;
  height: 50px;
  border: 1px solid #ffffff99;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  color: #fbfbfb;
  padding: 12px 40px 12px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.353516 1.29285L9.35352 10.2928L18.3535 1.29285' stroke='%23FBFBFB'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 18px 9px;
}

.select:focus {
  border-color: rgba(255, 199, 39, 0.8);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3535 9.70715L9.35352 0.707153L0.353516 9.70715' stroke='%23FBFBFB'/%3E%3C/svg%3E");
}

.select option {
  background-color: #533dba;
  color: #fbfbfb;
  padding: 8px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 12px;
  }

  .select {
    width: 160px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
    gap: 24px;
  }

  .select {
    width: 182px;
  }
}
